<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="mybatis.model.Hotel" alias="Hotel"/>
        <typeAlias type="mybatis.model.Reservation" alias="Reservation"/>
        <typeAlias type="mybatis.model.Room" alias="Room"/>
        <typeAlias type="mybatis.model.ReservationRoom" alias="ReservationRoom"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="openejb:Resource/HotelDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/xml/HotelMapper.xml"/>
        <mapper resource="mybatis/xml/ReservationMapper.xml"/>
        <mapper resource="mybatis/xml/RoomMapper.xml"/>
        <mapper resource="mybatis/xml/ReservationRoomMapper.xml"/>
    </mappers>
</configuration>