<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.dao.HotelMapper">
  <resultMap id="BaseResultMap" type="mybatis.model.Hotel">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="STREET_ADDRESS" jdbcType="VARCHAR" property="streetAddress" />

    <collection property="rooms" javaType="ArrayList" ofType="Room"
                column="id" select="selectRoomsForHotel"/>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from PUBLIC.HOTEL
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="mybatis.model.Hotel" useGeneratedKeys="true">
    insert into PUBLIC.HOTEL (NAME, STREET_ADDRESS)
    values (#{name,jdbcType=VARCHAR}, #{streetAddress,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="mybatis.model.Hotel">
    update PUBLIC.HOTEL
    set NAME = #{name,jdbcType=VARCHAR},
      STREET_ADDRESS = #{streetAddress,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select ID, NAME, STREET_ADDRESS
    from PUBLIC.HOTEL
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, NAME, STREET_ADDRESS
    from PUBLIC.HOTEL
  </select>

  <select id="selectRoomsForHotel" resultType="Room">
        SELECT r.ID, r.NUMBER, r.TYPE
        FROM PUBLIC.ROOM r
          JOIN PUBLIC.HOTEL h ON r.HOTEL_ID = h.ID
        WHERE h.ID = #{id,jdbcType=BIGINT}
    </select>
</mapper>