<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.dao.ReservationRoomMapper">
  <resultMap id="BaseResultMap" type="mybatis.model.ReservationRoom">
    <result column="RESERVATION_ID" jdbcType="BIGINT" property="reservationId" />
    <result column="ROOM_ID" jdbcType="BIGINT" property="roomId" />
  </resultMap>
  <insert id="insert" parameterType="mybatis.model.ReservationRoom">
    insert into PUBLIC.RESERVATION_ROOM (RESERVATION_ID, ROOM_ID)
    values (#{reservationId,jdbcType=BIGINT}, #{roomId,jdbcType=BIGINT})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select RESERVATION_ID, ROOM_ID
    from PUBLIC.RESERVATION_ROOM
  </select>
</mapper>