<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.dao.RoomMapper">
  <resultMap id="BaseResultMap" type="mybatis.model.Room">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="NUMBER" jdbcType="VARCHAR" property="number" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="HOTEL_ID" jdbcType="BIGINT" property="hotelId" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from PUBLIC.ROOM
    where ID = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="mybatis.model.Room" useGeneratedKeys="true">
    insert into PUBLIC.ROOM (NUMBER, TYPE, HOTEL_ID
      )
    values (#{number,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{hotelId,jdbcType=BIGINT}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="mybatis.model.Room">
    update PUBLIC.ROOM
    set NUMBER = #{number,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      HOTEL_ID = #{hotelId,jdbcType=BIGINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select ID, NUMBER, TYPE, HOTEL_ID
    from PUBLIC.ROOM
    where ID = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select ID, NUMBER, TYPE, HOTEL_ID
    from PUBLIC.ROOM
  </select>

  <select id="selectSpecific" resultMap="BaseResultMap">
    select ID, NUMBER, TYPE, HOTEL_ID
    from PUBLIC.ROOM
    where ID IN
    <foreach item="id" index="index" collection="list"
             open="(" separator="," close=")">
      #{id, jdbcType=BIGINT}
    </foreach>
  </select>
</mapper>